container_commands:
  01_download_secrets:
    command: "aws s3 sync \"s3://$SECRETS_BUCKET/storage\" ./storage"
  02_chown_storage:
    command: "chown -hR webapp:webapp ./storage"
  03_chmod_public_key:
    command: "chmod 660 ./storage/oauth-public.key"
  04_chmod_private_key:
    command: "chmod 660 ./storage/oauth-private.key"